<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="hero-main-banner-content">
          <span class="sub-title">Your brand, promoted</span>
          <h1>Creative solutions to enhance your brand's online presence!</h1>
          <p>We work hand-in-hand with industry-leading brands to help redefine the possibilities and potential of digital engagements.</p>
          <div class="btn-box">
            <a routerLink="/contact-us" routerLinkActive="activebutton"> <span></span>
              <button data-hover="click me!"><div>Contact Us</div></button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="hero-main-banner-image">
          <img src="../../assets/images/trading001.png" alt="trading" class="w-100">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w-100 bg-light services-area">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Our Services</span>
      <h2>Amazing Business Solution Whatever Your Needs</h2>
      <p>Real innovations and positive customer experience are the heart of successful communication.</p>
    </div>
    <div class="row align-items-center">
      <div class="">
        <div class="row">
          <div class="col-sm-4">
            <section class="hover-div"> <img src="../../assets/images/wealthCreation001.png" class="w-100">
              <div class="hover-div_inner">
                <h3><a href="#">Wealth Creation</a></h3>
                <p class="text-center">
                  Wealth creation is not a random event.
                  Luck alone can't make you wealthy.
                  It requires meticulous planning and lot of discipline.
                  To build wealth, you must follow time tested rules and to remain wealthy, you must follow those same rules.
                </p>
<!--                <div class="hover-div-lower">-->
<!--                  <div class="col-xs-6 text-left"><span class="lower-text">Latest</span>windows 10</div>-->
<!--                  <div class="col-xs-6 text-right"><span class="lower-text">Old</span>windows xp</div>-->
<!--                </div>-->
              </div>
            </section>
          </div>
          <div class="col-sm-4">
            <section class="hover-div"> <img src="../../assets/images/trading002.png" class="w-100">
              <div class="hover-div_inner">
                <h3><a href="#">News and Update</a></h3>
                <p class="text-center">We are in a mission to educate all of us about the latest news and update of national and international financial Market . we will update and share all the latest news in our portal for free. Learn and educate yourself daily with us.</p>
              </div>
            </section>
          </div>
          <div class="col-sm-4">
            <section class="hover-div"> <img src="https://png.pngtree.com/png-vector/20190721/ourlarge/pngtree-stock-analysis-illustration-concept-gradient-color-design-concept-of-web-png-image_1567542.jpg"
            class="w-100">
              <div class="hover-div_inner">
                <h3><a href="#">Learning</a></h3>
                <p class="text-center">
                  You want to earn from stock market by your on and understand the reason behind the market movement
                  then you are in the right place. We do provide high quality training which cover both technical and fundamental analysis.
                </p>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-choose-area ptb-100 services-area">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Why Choose Us?</span>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="why-choose-content">
          <h2>Digital world is the key to build your dream portfolio and we are here to help you to do</h2>
          <p>We have a dedicated team of people who are doing research and deliver their best in the terms
            of technical and fundamental. They experts to provide highly professional services for all requirements.</p>
          <div class="features-text">
            <h4>
              ✔️ Quality with Quantity:
            </h4>
            <p>One of the best amazing feature in our service is delivering our promised service to client with quality and quantity
            </p>
          </div>
          <div class="features-text">
            <h4>
              ✔️ Professional Service and Support:
            </h4>
            <p>Many companies developing their service but fail to provide proper support and
              maintain the business. But we shine in that domain. We have experts in our team who are experience in
              handling the clients and their portfolios. And when it come to scale to many users to build their
              rich portfolio to achieve their financial goals, we prove us the best.
            </p>
          </div>
          <div class="features-text">
            <h4>
              ✔️ Custom design , development and scaling as per the needs:
            </h4>
            <p>As the digital world is growing, along with that some of the other industries are also growing day by day in there domain.
              In such cases, clients needs to adding or alter popular sector and there stocks to the portfolio and also frequently changing.
              We provide custom service for our clients as per their requirement and market movement.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="why-choose-image"><img src="../../assets/images/whyChoose001.png" alt="image" class="w-100"></div>
      </div>
    </div>
  </div>
</section>
