<section>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="hero-main-banner-content">
          <span class="sub-title">Your brand, promoted</span>
          <h1>Creative solutions to enhance your brand's online presence!</h1>
          <p>We work hand-in-hand with industry-leading brands to help redefine the possibilities and potential of digital engagements.</p>
          <div class="btn-box">
            <a routerLink="/contact-us" routerLinkActive="activebutton"> <span></span>
              <button data-hover="click me!"><div>Contact Us</div></button>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="hero-main-banner-image">
          <img src="../../assets/images/trading001.png" alt="trading" class="w-100">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="w-100 bg-light services-area">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Our Services</span>
      <h2>Amazing Business Solution Whatever Your Needs</h2>
      <p>Real innovations and positive customer experience are the heart of successful communication.</p>
    </div>
    <div class="row align-items-center">
      <div class="">
        <div class="row">
          <div class="col-sm-4">
            <section class="hover-div"> <img src="../../assets/images/trading002.png" class="w-100">
              <div class="hover-div_inner">
                <h3><a href="#">Trading</a></h3>
                <p class="text-center">Windows OS, computer operating system (OS) developed by Microsoft Corporation to run personal computers (PCs). ...</p>
                <div class="hover-div-lower">
                  <div class="col-xs-6 text-left"><span class="lower-text">Latest</span>windows 10</div>
                  <div class="col-xs-6 text-right"><span class="lower-text">Old</span>windows xp</div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-sm-4">
            <section class="hover-div"> <img src="../../assets/images/wealthCreation001.png" class="w-100">
              <div class="hover-div_inner">
                <h3><a href="#">Wealth Creation</a></h3>
                <p class="text-center">Windows OS, computer operating system (OS) developed by Microsoft Corporation to run personal computers (PCs). ...</p>
                <div class="hover-div-lower">
                  <div class="col-xs-6 text-left"><span class="lower-text">Latest</span>windows 10</div>
                  <div class="col-xs-6 text-right"><span class="lower-text">Old</span>windows xp</div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-sm-4">
            <section class="hover-div"> <img src="https://png.pngtree.com/png-vector/20190721/ourlarge/pngtree-stock-analysis-illustration-concept-gradient-color-design-concept-of-web-png-image_1567542.jpg"
            class="w-100">
              <div class="hover-div_inner">
                <h3><a href="#">Learning</a></h3>
                <p class="text-center">Windows OS, computer operating system (OS) developed by Microsoft Corporation to run personal computers (PCs). ...</p>
                <div class="hover-div-lower">
                  <div class="col-xs-6 text-left"><span class="lower-text">Latest</span>windows 10</div>
                  <div class="col-xs-6 text-right"><span class="lower-text">Old</span>windows xp</div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="why-choose-area ptb-100 services-area">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Why Choose Us?</span>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="why-choose-content">
          <h2>Digital world is Key To Your Brand's Success</h2>
          <p>We believe interaction is key in communication. We have a team of technical and marketing experts who provide highly professional services for your various requirements.</p>
          <div class="features-text">
            <h4>
              <i class="flaticon-tick"></i> <!-- -->Efficient and Timely Deliveries.
            </h4>
            <p>A crucial part of our USP is to provide timely deliveries
              to our clients. Our clients are satisfied with not only our
              timely deliveries but the efficiency we provide in that period.
            </p>
          </div>
          <div class="features-text">
            <h4>
              <i class="flaticon-tick"></i> <!-- -->Professional Service and Support.
            </h4>
            <p>Many companies develop an app or website but
              fail to provide proper support and maintaince. We shine in
              that domain. We have experts in our team who are experienced in
              handling the app or website when it scales to many users.
            </p>
          </div>
          <div class="features-text">
            <h4>
              <i class="flaticon-tick"></i> <!-- -->Custom design, development and marketing as per the needs.
            </h4>
            <p>As the digital world is growing day by day needs of
              brands are frequently updating. We provide custom service for our
              clients as per their requirements and market needs.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="why-choose-image"><img src="../../assets/images/whyChoose001.png" alt="image" class="w-100"></div>
      </div>
    </div>
  </div>
</section>
