<footer class="section bg-footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-3">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Information</h6>
          <ul class="list-unstyled footer-link mt-4">
<!--            <li><a href="">Pages</a></li>-->
<!--            <li><a href="">Our Team</a></li>-->
<!--            <li><a href="">Feuchers</a></li>-->
            <li><p>Pricing</p></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Ressources</h6>
          <ul class="list-unstyled footer-link mt-4">
<!--            <li><a href="">Monitoring Grader </a></li>-->
            <li><p>Video Tutorial</p></li>
            <li><p>Term &amp; Service</p></li>
<!--            <li><a href="">Zeeko API</a></li>-->
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Help</h6>
          <ul class="list-unstyled footer-link mt-4">
            <li><p>Terms of Services</p></li>
            <li><p>Privacy Policy</p></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="">
          <h6 class="footer-heading text-uppercase text-white">Contact Us</h6>
          <p class="contact-info mt-4">Contact us if need help with any thing</p>
          <p class="contact-info">+91-9475860032</p>
          <div class="mt-5">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="https://www.facebook.com/people/The-BULL-Wizard/100084588084800/"
              target="_blank"><i class="fa facebook footer-social-icon fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a href="https://twitter.com/THEBULLWIZARD1" target="_blank"><i class="fa twitter footer-social-icon fa-twitter"></i></a></li>
              <li class="list-inline-item">
                <a href="https://www.youtube.com/channel/UCWBpL1nWZ7qgsQGpy3XRDFg" target="_blank">
                  <i class="fa fa-youtube-play footer-social-icon"
                   style="background: red; color: #FFFFFF"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="text-center mt-5">
    <p class="footer-alt mb-0 f-14">2022 © The Bull Wizard, All Rights Reserved</p>
  </div>



<!--<footer class="footer">-->
<!--  <div class="waves">-->
<!--    <div class="wave" id="wave1"></div>-->
<!--    <div class="wave" id="wave2"></div>-->
<!--    <div class="wave" id="wave3"></div>-->
<!--    <div class="wave" id="wave4"></div>-->
<!--  </div>-->
<!--  <ul class="social-icon">-->
<!--    <li class="social-icon__item"><a class="social-icon__link" href="#">-->
<!--&lt;!&ndash;      <ion-icon name="logo-facebook"></ion-icon>&ndash;&gt;-->
<!--    </a></li>-->
<!--    <li class="social-icon__item"><a class="social-icon__link" href="#">-->
<!--&lt;!&ndash;      <ion-icon name="logo-twitter"></ion-icon>&ndash;&gt;-->
<!--    </a></li>-->
<!--    <li class="social-icon__item"><a class="social-icon__link" href="#">-->
<!--&lt;!&ndash;      <ion-icon name="logo-linkedin"></ion-icon>&ndash;&gt;-->
<!--    </a></li>-->
<!--    <li class="social-icon__item"><a class="social-icon__link" href="#">-->
<!--&lt;!&ndash;      <ion-icon name="logo-instagram"></ion-icon>&ndash;&gt;-->
<!--    </a></li>-->
<!--  </ul>-->
<!--  <ul class="menu">-->
<!--    <li class="menu__item"><a class="menu__link" href="#">Home</a></li>-->
<!--    <li class="menu__item"><a class="menu__link" href="#">About</a></li>-->
<!--    <li class="menu__item"><a class="menu__link" href="#">Services</a></li>-->
<!--    <li class="menu__item"><a class="menu__link" href="#">Team</a></li>-->
<!--    <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>-->

<!--  </ul>-->
<!--  <p>&copy;2022 The Bull Wizard | All Rights Reserved</p>-->
<!--</footer>-->
