<section class="w-100 bg-light services-area">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Our Services</span>
      <h2>Amazing Business Solution Whatever Your Needs</h2>
      <p>Real innovations and positive customer experience are the heart of successful communication.</p>
    </div>
    <div class="row align-items-center">
      <div class="">
        <div class="row">
          <div class="col-sm-4">
            <section class="hover-div"> <img src="../../assets/images/trading002.png" class="w-100">
              <div class="hover-div_inner">
                <h3><a href="#">Trading</a></h3>
                <p class="text-center">Windows OS, computer operating system (OS) developed by Microsoft Corporation to run personal computers (PCs). ...</p>
                <div class="hover-div-lower">
                  <div class="col-xs-6 text-left"><span class="lower-text">Latest</span>windows 10</div>
                  <div class="col-xs-6 text-right"><span class="lower-text">Old</span>windows xp</div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-sm-4">
            <section class="hover-div"> <img src="../../assets/images/wealthCreation001.png" class="w-100">
              <div class="hover-div_inner">
                <h3><a href="#">Wealth Creation</a></h3>
                <p class="text-center">Windows OS, computer operating system (OS) developed by Microsoft Corporation to run personal computers (PCs). ...</p>
                <div class="hover-div-lower">
                  <div class="col-xs-6 text-left"><span class="lower-text">Latest</span>windows 10</div>
                  <div class="col-xs-6 text-right"><span class="lower-text">Old</span>windows xp</div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-sm-4">
            <section class="hover-div"> <img src="https://png.pngtree.com/png-vector/20190721/ourlarge/pngtree-stock-analysis-illustration-concept-gradient-color-design-concept-of-web-png-image_1567542.jpg"
                                             class="w-100">
              <div class="hover-div_inner">
                <h3><a href="#">Learning</a></h3>
                <p class="text-center">Windows OS, computer operating system (OS) developed by Microsoft Corporation to run personal computers (PCs). ...</p>
                <div class="hover-div-lower">
                  <div class="col-xs-6 text-left"><span class="lower-text">Latest</span>windows 10</div>
                  <div class="col-xs-6 text-right"><span class="lower-text">Old</span>windows xp</div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
