<section class="why-choose-area ptb-100 services-area">
  <div class="container">
    <div class="section-title">
      <span class="sub-title">Why Choose Us?</span>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-12">
        <div class="why-choose-content">
          <h2>Digital world is the key to build your dream portfolio and we are here to help you to do</h2>
          <p>We have a dedicated team of people who are doing research and deliver their best in the terms
            of technical and fundamental. They experts to provide highly professional services for all requirements.</p>
          <div class="features-text">
            <h4>
              ✔️ Quality with Quantity:
            </h4>
            <p>One of the best amazing feature in our service is delivering our promised service to client with quality and quantity
            </p>
          </div>
          <div class="features-text">
            <h4>
              ✔️ Professional Service and Support:
            </h4>
            <p>Many companies developing their service but fail to provide proper support and
              maintain the business. But we shine in that domain. We have experts in our team who are experience in
              handling the clients and their portfolios. And when it come to scale to many users to build their
              rich portfolio to achieve their financial goals, we prove us the best.
            </p>
          </div>
          <div class="features-text">
            <h4>
              ✔️ Custom design , development and scaling as per the needs:
            </h4>
            <p>As the digital world is growing, along with that some of the other industries are also growing day by day in there domain.
              In such cases, clients needs to adding or alter popular sector and there stocks to the portfolio and also frequently changing.
              We provide custom service for our clients as per their requirement and market movement.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <div class="why-choose-image"><img src="../../assets/images/whyChoose001.png" alt="image" class="w-100"></div>
      </div>
    </div>
  </div>
</section>


<nav class="nav-bg">
  <div class="d-flex justify-content-between align-items-center">
    <div>
      <button class="border-0 bg-transparent me-2 " type="button" data-bs-toggle="offcanvas" data-bs-target="#menu" 
      >
        <i class="fa-solid fa-bars navbar-icon"></i>
      </button>
    </div>
  </div>
</nav>