<nav class="navbar navbar-expand-lg navbar-dark bg-primary" style="justify-content: space-between; padding: 1rem;">
  <!-- <img
    width="40"
    alt="TBW Logo"
    src="../assets/images/TBW001.png"
  /> -->
  <a class="navbar-brand" routerLink="/" routerLinkActive="activebutton" class="logo-text txt-white">The Bull Wizard</a>
  <button 
    class="navbar-toggler btn btn-outline-primary bg-white"
    type="button" 
    data-bs-toggle="offcanvas" 
    data-bs-target="#offcanvasExample" 
    aria-controls="offcanvasExample">
  </button>

  <div class="collapse navbar-collapse" style="flex-grow:inherit">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/" routerLinkActive="activebutton">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us" routerLinkActive="activebutton">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="activebutton">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/why-us" routerLinkActive="activebutton">Why Us</a>
      </li>
    </ul>
  </div>
</nav>


<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
  <div class="offcanvas-header">
    <h5 class="offcanvas-title" class="logo-text txt-black">The Bull Wizard</h5>
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item ">
        <a class="nav-link" routerLink="/" routerLinkActive="activebutton" data-bs-dismiss="offcanvas">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us" routerLinkActive="activebutton" data-bs-dismiss="offcanvas">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact-us" routerLinkActive="activebutton" data-bs-dismiss="offcanvas">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/why-us" routerLinkActive="activebutton" data-bs-dismiss="offcanvas">Why Us</a>
      </li>
    </ul>
    <!-- <div class="dropdown mt-3">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown">
        Dropdown button
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <li><a class="dropdown-item" href="#">Action</a></li>
        <li><a class="dropdown-item" href="#">Another action</a></li>
        <li><a class="dropdown-item" href="#">Something else here</a></li>
      </ul>
    </div> -->
  </div>
</div>
